<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${thread.title}">Title</title>
</head>
<body>
<div th:insert="header::header"></div>
<h1 th:text="${thread.title}">Title</h1>
<br><br>
<ul th:each="post : ${thread.posts}">
    <li>
        <span th:text="${post.id}">id</span>
        <br>
        <span th:text="${post.timestamp}">timestamp</span>
        <br>
        <span th:text="${post.author.username}">author</span>
        <br>
        <br>
        <span th:text="${post.message}">message lorem ipsum dolor sit amet</span>
    </li>
</ul>

<form id="submission" th:action="@{'/forum/' + ${thread.id} + '/new'}" method="post">
    <label for="message">Message</label>
    <input id="message" name="message" size="150" height="30" style="height: 100px">
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>